<%- include("partials/header") %>


    <% postovine.forEach(function(post){ %>
    <div class="postDesign">
    <h1><%= post.title %></h1>
    <hr>
    <p><%= post.postMessage.slice(0,100)+"..."%>
    <a href="/posts/<%= post._id%>">Read More...</a>
    <input type="hidden" name="getInfoId" value="<%=post._id%>">
    </p>
    </div>
<%}); %>



<%- include("partials/footer") %>
